##=============================================================================
## line comment
##=============================================================================

#DEFINE_CONSTANTS()

#set($useNonLteTables=true)
#set($useLteTables=true)
#**
 * block comment
 * in Velocity
*#

#if($x == "1")
    x is one
#elseif($x == "2")
    x is two
#else
	x is not one neither two
#end